:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  background-color: aliceblue;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;

}

.container h2 {
  text-align: center;
}
.expense-item{
  padding: 8px 10px;
  border: 1px solid rgb(175, 170, 170);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}
.expense-item.positive{
  border-right: 4px solid green;
}
.expense-item.negative{
  border-right: 4px solid red;
}
.expense-item.negative  .amount{
  color: red;
}
.expense-item.positive .amount{
  color: green;
}
.expense-form {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 10px;
}
.expense-form h4{
  margin-top: 0;
  margin-bottom: 10px;
}
.expense-form input{
  display: block;
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;

}
.expense-form button{
  display: block;
  width: 100%;
  border: none;
  background-color:rgb(63, 134, 226);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.balance-container{
  background-color:rgb(63, 134, 226);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.currency-item{
  padding: 10px;
  background-color:rgb(147, 187, 240);
  border-radius: 5px;
  color: white;
  width: 30%;
  box-sizing: border-box;
  
}
.currency-item .title{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.currency-item .amount{
  text-align: center;
}
.amount.green{
  color: rgb(6, 116, 6);
}
.amount.red{
  color: rgb(228, 15, 15);
}
.expense-item{
  position: relative;
}
.btn-container{
  position:absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff92;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 5px;
}
.expense-item:hover .btn-container{
  opacity: 1;
}
.delete-btn{
  background-color: rgb(230, 34, 34);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  cursor: pointer;
}
